*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all {
    background:
}

.top {
    min-height: 20vh;
    min-width: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #7f95ba;
}

.top h1 {
    font-size: 80px;
}

.top h2 {
    font-size: 30px;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    min-height: 90vh;
}

.details {
    grid-column: 2/3;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 30px;
}

.pic {
    justify-content: center;
    align-items: center;
    display: flex;
}

footer {
    min-height: 10vh;
    background-color: #7f95ba;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;


}
