*,
*::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.portofolio {
    color: white;
    background: radial-gradient(rgba(43, 55, 96, 1), rgba(11, 16, 35, 1));
}


nav {
    min-height: 10vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px, 0px;
}

.logo {
    font-size: 40px;
}

.page {
    min-height: 90vh;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;

}


.hero {
    height: 500px;
    overflow: hidden;
    align-self: center;
    justify-self: center;
    display: flex;
    /*removes spaces between images*/
}

.details {
    grid-column: 2/3;
    /*puts it in the 2nd grid*/
    align-self: end;
    padding: 25px 50px;
    transform: translateY(-10%);
}

.details h1 {
    font-size: 60px;
}

.details h2 {
    font-size: 30px;
}

.hero img {
    height: 100%;
    transition: transform 0.3s ease-out;
    cursor: pointer;
}

.model-right {
    transform: translate(0%, 10%);
}

.hero:hover .model-right {
    transform: translate(0%, 0%);

}


.model-left {
    transform: translate(0%, -10%);
}

.hero:hover .model-left {
    transform: translate(0%, 0%);
}

.pages {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.pages>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pages h3 {
    padding: 30px;
    font-size: 24px;
}

.pages svg {
    cursor: pointer;
    /*changes cursor*/
    opacity: 0.5;
    /*fades color*/
    transform: scale(2);
    /*makes it bigger*/
}

.pages svg:hover {
    animation: dot 0.5s ease-in-out infinite alternate;
    /*alternate: play animation forward then backward */
}



@keyframes dot {

    /*define our animation*/
    0% {
        transform: scale(2);
        opacity: 0.5;
    }

    100% {
        transform: scale(4);
        opacity: 1;
    }
}

@media(max-width: 1024px) {

    /*will be affective when size is 1024px or less */
    .page {
        grid-template-columns: 5% 1fr 5%;
        grid-template-rows: 2fr 1fr;
        align-items: center;
    }

    .hero {
        grid-column: 2/3;
        height: auto;
        align-self: center;
        justify-self: center;
        display: flex;
    }

    .hero img {
        height: 400px;
    }

    .details {
        grid-row: 2/3;
        grid-column: 2/3;
        text-align: center;
        padding: 25px 50px;
    }

}
